/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main */

main {
    width: 80%;
    margin: auto;
    padding: 40px 0px;
}

/* Content */

.product {
    display: inline-block;
    width: 30%;
    margin: 0px 10px 20px;
    position: relative;
}

img {
    display: block;
    width: 100%;
}

.brand {
    margin-top: 10px;
    font-size: 13px;
}

.description {
    font-size: 18px;
    font-weight: 700;
}

.price,
.old-price {
    font-size: 14px;
}

.price {
    color: red;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
}

.heart {
    display: block;
    position: absolute;
    font-size: 25px;
    right: 0px;
    top: 20px;
    background-color: white;
    padding: 10px 18px;
}

.bottom-tag {
    display: block;
    position: absolute;
    bottom: 100px;
    left: 0px;
    font-size: 15px;
    color: white;
    font-weight: 700;
}

.discount {
    background-color: red;
    padding: 5px;
    margin-right: 5px;
}

.sostenibility {
    background-color: green;
    padding: 5px;
    margin-right: 5px;
}

